<nav class="navbar">
    <ul class="ul">
    <div class="navleft">
        <li><a href="/home">Recipes</a></li>
        <li><a href="/home">Chefs</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/home">Suprise Me</a></li>
        </div>

        <div class="navright">
        <li><a href="/login">Login</a></li>
        |
        <li><a href="register">Register</a></li>
        </div>
    </ul>
</nav>