<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cabin&family=Cuprum&family=DynaPuff&family=Fraunces:opsz,wght@9..144,700&family=Indie+Flower&family=Lato:wght@300&family=Merriweather+Sans&family=Mochiy+Pop+One&family=Montserrat:wght@500;700&family=PT+Serif&family=Quicksand&family=Roboto:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= typeof title != 'undefined' ? title: 'Recipes' %></title>
</head>
<body>

  <script>
    window.onload = function() {
        let message = new URLSearchParams(window.location.search).get('message');
        if(message){
          alert(message);
        }
    };
    </script>   
    
    <%- include('common/header'); -%>
    <div class="container">
          <h2 class="homeh2">Featured Recipes</h2>
          <section class="recipeflex">
          <div class="recipewrapper">
          <div class="recipe1">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Bacalhau_com_natas.jpg" alt="Bacalhau_com_natas">

          </div><p class="recipepara">Bacalhau com natas (translated literally as "cod with double cream") is a popular way of cooking salted cod (bacalhau) in Portugal.
            This dish consists of baked cod in the oven layered with onions, diced fried potatoes (or leftover cooked potatoes) and double cream, usually seasoned with nutmeg and white pepper. </p></div>
          <div class="recipewrapper">
          <div class="recipe2"></div><p class="recipepara">Add a Recipe you like:)</p></div>
          <div class="recipewrapper">
          <div class="recipe3"></div><p class="recipepara">Add a Recipe you like:)</p></div>
          </section>
          <%- include('common/footer'); -%>
      </div>
</body>
</html>