<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cabin&family=Cuprum&family=DynaPuff&family=Fraunces:opsz,wght@9..144,700&family=Indie+Flower&family=Lato:wght@300&family=Merriweather+Sans&family=Mochiy+Pop+One&family=Montserrat:wght@500;700&family=PT+Serif&family=Quicksand&family=Roboto:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
  <%- include('common/header'); -%>
    <div class="logincontainer">
        <Navbar />
        <div class="loginwrapper">
        <div class="login">
          <form onsubmit="submitForm(event)" class="loginform" action="/api/login" method="POST">
          <h2 class="loginh2">Log in</h2>
              <a><input class="inputs" type='text' name='username' placeholder='Username / Email'></a></input>
              <a><input class="inputs" type='password' name='password' placeholder='Password'></a></input>
              <input class="loginbtn" type='submit' value='Login'></input>
              </form>
          </div>
        <div class="notuser">
        <div class="registernow">
        <h2 class="registerh2">Not yet a user? Register now</h2>
        <a href='/register'><input class="registerbtn" type='submit' value='Register'></input></a>
          </div>
        </div>
      </div>
  </div>
  </div>
  <%- include('common/footer'); -%>
</body>
</html>