<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cabin&family=Cuprum&family=DynaPuff&family=Fraunces:opsz,wght@9..144,700&family=Indie+Flower&family=Lato:wght@300&family=Merriweather+Sans&family=Mochiy+Pop+One&family=Montserrat:wght@500;700&family=PT+Serif&family=Quicksand&family=Roboto:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include('common/header'); -%>
    <form onsubmit="submitForm(event)" action="/api/register" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Register</button>
      </form>
</body>
</html>

<div class="container">
    <Navbar />
  </div>
    <div class="regcontainer">
    <div class="regflex">

    <form class="regform">
    <h2 classe="regh2">Register</h2>
    <div class="flexform">
    <input class="inputs" type='text' name='username' id='username' placeholder='Username'></input>
    <input class="inputs" type='email' name='email' id='email' placeholder='Email'></input>
    </div>
    <div class="flexform">
    <input class="inputs" type='password' name='password' id='password' placeholder='Password'></input>
    <input class="inputs" type='password' name='confpword' placeholder='Confirm Password'></input>
    </div>
    </form>
    </div>
    <div class="regpic">
    <div class="regwrapper">
    <div class="regprofile">
      </div>
      <button class="updatebtn">Upload Profile Picture</button>
    </div>
    </div>
    </div></div>
)
}