<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= typeof title != 'undefined' ? title: 'Recipes' %></title>
</head>
<body>
    <nav class="navbar">
        <ul class="ul">
        <div class="navleft">
            <li><a href="#">Recipes</a></li>
            <li><a href="#">Chefs</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Suprise Me</a></li>
            </div>

            <div class="navright">
            <li><a href="#">Login</a></li>
                /
            <li><a href="#">Register</Link></li>
            </div>
        </ul>
    </nav>

    <div class="container">
          <h2 class="homeh2">Featured Recipes</h2>
          <section class="recipeflex">
          <div class="recipewrapper">
          <div class="recipe1"></div><p class="recipepara">Lorem 
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></div>
          <div class="recipewrapper">
          <div class="recipe2"></div><p class="recipepara">Lorem 
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
          <div class="recipewrapper">
          <div class="recipe3"></div><p class="recipepara">Lorem 
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
          consequat.</p></div>
          </section>
      </div>
</body>
</html>